# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django specific files
*.log
*.pot
*.py[co]
*.sqlite3
db.sqlite3

# Environment variables
.env
*.env
# Virtual environment
venv/
env/
ENV/
*.venv

# IDE specific files
.vscode/
.idea/

# Static and media files
/static/
/media/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
*.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.tox/
.pytest_cache/